.notices {
    padding: 15px;
    margin: 1rem 0;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-radius: 3px;
}

.notices p, .notices ul, .notices ol {
    margin-bottom: 0;
}

.notices.yellow {
    border-color: #f0ad4e;
    background: #fcf8f2;
    color: #df8a13;
}

.notices.red {
    border-color: #d9534f;
    background: #fdf7f7;
    color: #b52b27;
}

.notices.blue {
    border-color: #5bc0de;
    background: #f4f8fa;
    color: #28a1c5;
}

.notices.green {
	border-color: #5cb85c;
    background: #f1f9f1;
    color: #3d8b3d;
}
